.cartcontrol {
  font-size: 0px;
}
.cartcontrol .cart-decrease {
  display: inline-block;
  width: 26px;
  height: 26px;
  font-size: 26px;
  color: #b4b4b4;
}
.cartcontrol .cart-count {
  display: inline-block;
  width: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 26px;
  vertical-align: top;
}
.cartcontrol input.cart-add2 {
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background: #ffd161;
  border: 0;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  top: -3px;
}
/* .cartcontrol .cart-add {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 0;
  font-size: 26px;
  background: #ffd161;
  position: relative;
  padding: 0;
}*/
/* .cartcontrol .cart-add::after {
  font-size: 20px;
  content: "+";
  width: 26px;
  height: 26px;
  font-weight: 900; */
  /* color: white; */
  /* color: black;

  position: absolute;
  top: 2px;
  left: 7px; */

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
/* } */
/* .cartcontrol .cart-add .bg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
} */
